:root {
  --heading-font: "Damion", cursive;
  --nav-font: "Josefin Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 64px;
}
h2 {
  font-size: 32px;
}

a {
  text-decoration: none;
  color: black;
}

.brand-name {
  font-family: var(--heading-font);
  padding-left: 50px;
  font-size: 24px;
}

.nav-item {
  padding: 0 20px;
  font-family: var(--nav-font);
}

.nav-item:hover {
  border-bottom: 3px black solid;
  transition: all 0.2s ease-out;
}

.nav-item:hover .active {
  border: 0;
}

.active {
  border-bottom: 3px black solid;
}
.navbar {
  padding: 0;
}
.header-image {
  background-image: url("../images/header.jpg");
  background-position: center;
  width: 100%;
  min-height: 250px;
}

.intro {
  text-align: center;
  margin: 50px;
}

.home-images {
  max-width: 200px !important;
  min-height: 200px !important;
  border-radius: 5px;
}

.home-images:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-out;
}

.links-title {
  font-size: 24px;
  font-family: var(--nav-font);
}

.social-links:hover {
  transform: scale(1.4);
  transition: all 1s ease-out;
  color: #c0c2c8 !important;
}

.home-item {
  height: 100%;
  transition: all 1s ease-out;
}
.home-item:hover {
  background-color: #eeeff1;
}

.parts-headline:hover {
  font-size: 1.85rem;
  transition: all 0.5s ease-out;
}

.footer-part {
  font-size: 14px;
}

#project-link {
  text-decoration: underline;
  color: #bfc0c5;
}

@media (max-width: 960px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 16px;
  }
  .brand-name {
    padding: 0;
    font-size: 14px;
  }
}
